Repository cryostatio/cryostat-legacy, pull requests merged in 2021-09, with the labels that each got.

#671 fix(run.sh): set RMI_PORT env var
  run.sh
Labels: fix

#669 fix(docs): Update README.md
  README.md
Labels: docs

#675 ci(mergify): target backports to v2 branch
  .mergify.yml
Labels: ci

#673 chore(version): bump project version to 2.1.0-SNAPSHOT
  pom.xml
Labels: chore

#681 build(maven): skip podman execs when skipITs is true
  pom.xml
Labels: chore, build

#689 fix(permissions): use proper group for pods/deployments
  src/main/java/io/cryostat/net/OpenShiftAuthManager.java
  src/test/java/io/cryostat/net/OpenShiftAuthManagerTest.java
Labels: backport, fix

#692 fix(permissions): respond with 401 when authz check fails
  src/main/java/io/cryostat/net/web/http/AbstractAuthenticatedRequestHandler.java
  src/test/java/io/cryostat/net/web/http/AbstractAuthenticatedRequestHandlerTest.java
Labels: fix
