Repository cryostatio/cryostat-legacy, pull requests merged in 2021-07, with the labels that each got.

#552 ci(mergify): remove post_check action
  .mergify.yml
Labels: ci

#553 ci(semantic-pr): add config for semantic-pr action
  .github/workflows/release-drafter.yml
  .github/workflows/semantic-pr.yml
Labels: backport

#556 ci(dependent-issues): add config for dependent-issues
  .github/workflows/dependent-issues.yml
Labels: ci

#545 ci(ci): Push built CI images to Quay
  .github/workflows/ci.yaml
Labels: ci

#559 ci(log): print podman logs on CI failure
  .github/workflows/ci.yaml
  pom.xml
Labels: ci

#560 build(jib): Update-maven-jib-plugin
  pom.xml
  src/main/extras/app/entrypoint.sh
Labels: cleanup

#561 ci(quay): push built CI images to Quay
  .github/workflows/ci.yaml
Labels: ci

#564 chore(base-image): update cryostat-base to 0.3.0
  pom.xml
Labels: chore

#562 docs(auto-rules): update HTTP_API.md
  HTTP_API.md
  src/main/java/io/cryostat/net/web/http/api/v2/RulesPostHandler.java
  src/main/java/io/cryostat/rules/RuleException.java
Labels: docs

#581 test(auto-rules): Add itests for credentials POST and DELETE
  src/test/java/itest/CredentialsIT.java
Labels: test

#582 test(auto-rules): Test GET or DELETE rule not found
  src/test/java/itest/AutoRulesIT.java
Labels: test

#593 fix(webserver): avoid NPE if client sets no Accept header
  src/main/java/io/cryostat/net/web/WebServer.java
Labels: backport, fix

#598 test(recordings): Add more target recording handler 4xx itests
  src/test/java/itest/TargetRecordingsClientErrorIT.java
Labels: test

#587 fix(api): set Content-Type header on all responses
  src/main/java/io/cryostat/net/web/http/AbstractAuthenticatedRequestHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetEventsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingOptionsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingOptionsPatchHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetTemplatesGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractV2RequestHandler.java
  src/test/java/io/cryostat/net/web/http/AbstractAuthenticatedRequestHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingOptionsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingPatchHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/AbstractV2RequestHandlerTest.java
Labels: fix

#606 test(templates): Add integration tests for POST and DELETE templates
  src/test/java/itest/TemplatePostDeleteIT.java
Labels: test

#607 test(targets): Add itest for targets POST and DELETE
  src/test/java/itest/TargetPostDeleteIT.java
Labels: test

#609 ci(actions): require referenced issue and PR labels
  .github/workflows/linked-issue.yml
  .github/workflows/pr-labeled.yml
Labels: ci

#608 test(certificates): Add SSL certificate itests
  pom.xml
  src/test/java/itest/UploadCertificateIT.java
  src/test/resources/valid.cert
Labels: test

#612 fix(ci): add missed labels to config
  .github/workflows/pr-labeled.yml
Labels: ci, fix
