Repository cryostatio/cryostat-legacy, pull requests merged in 2021-08, with the labels that each got.

#614 fix(report): Throw 404 when recording not found
  src/main/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandler.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandlerTest.java
  src/test/java/itest/TargetReportIT.java
Labels: fix

#618 fix(platform): lower log level for k8s namespace read failure
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/OpenShiftPlatformStrategy.java
Labels: fix

#619 test(recordings): Verify file contents from RecordingWorkflowIT
  src/test/java/itest/RecordingWorkflowIT.java
Labels: test

#621 test(targets): Add target events GET search tests
  src/test/java/itest/TargetEventsGetIT.java
Labels: test

#616 test(snapshot): Add POST snapshot itests
  src/test/java/itest/SnapshotIT.java
Labels: test

#623 feat(eventssearch): implement search as query param
  HTTP_API.md
  src/main/java/io/cryostat/net/web/http/api/v2/HttpApiV2Module.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetEventsGetHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetEventsGetHandlerTest.java
  src/test/java/itest/TargetEventsGetIT.java
Labels: feat

#628 fix(webclientassets): produce 404 instead of 500 when minimal
  src/main/java/io/cryostat/net/web/http/generic/WebClientAssetsGetHandler.java
Labels: fix

#626 test(recordings): Add recording options itests
  src/test/java/itest/TargetRecordingOptionsIT.java
Labels: test

#631 test(report): Fix file initialization
  src/test/java/itest/ReportIT.java
Labels: test

#638 feat(targetconnectionmanager): cache TTL/size configuration
  README.md
  pom.xml
  run.sh
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/net/TargetConnectionManager.java
  src/test/java/io/cryostat/net/TargetConnectionManagerTest.java
Labels: feat

#640 fix(recordingoptions): client may explicitly unset options
  HTTP_API.md
  pom.xml
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingOptionsPatchHandler.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingOptionsPatchHandlerTest.java
  src/test/java/itest/TargetRecordingOptionsIT.java
Labels: fix

#644 test(itest): Add an exception for integration test cleanup failure
  src/test/java/itest/AutoRulesIT.java
  src/test/java/itest/InterleavedExternalTargetRequestsIT.java
  src/test/java/itest/RecordingWorkflowIT.java
  src/test/java/itest/ReportIT.java
  src/test/java/itest/RulesPostFormIT.java
  src/test/java/itest/RulesPostJsonIT.java
  src/test/java/itest/SnapshotIT.java
  src/test/java/itest/TargetRecordingOptionsIT.java
  src/test/java/itest/TargetReportIT.java
  src/test/java/itest/UploadRecordingIT.java
  src/test/java/itest/util/ITestCleanupFailedException.java
Labels: test

#647 feat(rules): add cleanup query parameter
  HTTP_API.md
  src/main/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandler.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/itest/AutoRulesIT.java
Labels: feat

#648 feat(rules): implement "archive" rules
  HTTP_API.md
  src/main/java/io/cryostat/rules/MatchExpressionValidator.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/main/java/io/cryostat/rules/RuleRegistry.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/io/cryostat/rules/RuleRegistryTest.java
  src/test/java/io/cryostat/rules/RuleTest.java
Labels: feat

#653 fix(assembly): add cryostat.jfc to assembly
  src/assembly/dist.xml
Labels: fix

#658 build(deps): update cryostat-core to 2.3.1
  pom.xml
Labels: chore, build

#668 fix(archive): sanitize target alias when writing file
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
Labels: fix
