Repository cryostatio/cryostat-legacy, pull requests merged in 2022-12, with the labels that each got.

#1257 feat(targets): dryrun query params for testing connectUrl and credentials
  src/main/java/io/cryostat/configuration/CredentialsManager.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetsPostHandler.java
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetsPostHandlerTest.java
  src/test/java/itest/CustomTargetsIT.java
  src/test/java/itest/util/http/StoredCredential.java
Labels: feat, safe-to-test

#1273 fix(probes): fix notification handling of probe template uploads
  src/main/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandlerTest.java
Labels: fix, safe-to-test

#1277 feat(github): add pr and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/check-labels.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-ci.yml
Labels: ci, feat, chore, safe-to-test

#1281 fix(jvmid): only replace cached entries if changed
  run.sh
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
Labels: fix, safe-to-test, needs-triage

#1282 build(deps): update frontend build node and yarn versions
  pom.xml
Labels: chore, build, safe-to-test

#1243 feat(dashboard): add backend support to automated analysis card embeded in dashboard on -web
  run.sh
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/reports/ActiveRecordingReportCache.java
  src/main/java/io/cryostat/net/reports/ReportService.java
  src/main/java/io/cryostat/net/reports/ReportsModule.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/FilterInput.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/PutArchivedRecordingMetadataMutator.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/ArchivedRecordingInfo.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/reports/ActiveRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ArchivedDirectoriesGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
  src/test/java/itest/GraphQLIT.java
Labels: feat, safe-to-test

#1284 chore(itest): fix InterleavedExternalTargetRequsestsIT itest containers to need JMX auth and mark it as known failure
  src/test/java/itest/InterleavedExternalTargetRequestsIT.java
Labels: chore, safe-to-test

#1293 fix(rules): handling for initialDelay==0 and cleanup
  src/main/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandler.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
  src/test/java/itest/AutoRulesCleanupIT.java
  src/test/java/itest/AutoRulesIT.java
Labels: fix, safe-to-test

#1289 feat(rules): allow cleanup on disabling rules
  src/main/java/io/cryostat/net/web/http/api/v2/RulePatchHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulePatchHandlerTest.java
  src/test/java/itest/AutoRulesCleanupIT.java
Labels: feat, safe-to-test

#1294 docs(api): add documentation on POST target dryrun
  docs/HTTP_API.md
Labels: docs, safe-to-test

#1303 build(version): set version to 2.2.1
  pom.xml
Labels: chore, build, safe-to-test

#1305 build(version): bump version to 2.2.2-SNAPSHOT
  pom.xml
Labels: chore, build, safe-to-test

#1304 build(core): use -core 2.16.2 from GH pkgs
  .github/workflows/ci-jobs.yml
  pom.xml
Labels: chore, build, safe-to-test, needs-triage

#1311 ci(secret): pass secrets to reusable workflows
  .github/workflows/ci-jobs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
Labels: ci, chore, safe-to-test
