Repository cryostatio/cryostat-legacy, pull requests merged in 2022-10, with the labels that each got.

#1086 docs(contributing): add guides on how to contribute
  CONTRIBUTING.md
  README.md
Labels: docs

#1084 feat(rules): enable/disable automated rules
  src/main/java/io/cryostat/net/web/http/api/v2/HttpApiV2Module.java
  src/main/java/io/cryostat/net/web/http/api/v2/RulePatchBodyHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/RulePatchHandler.java
  src/main/java/io/cryostat/rules/Rule.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/main/java/io/cryostat/rules/RuleRegistry.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulePatchHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulesPostHandlerTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/io/cryostat/rules/RuleRegistryTest.java
  src/test/java/itest/AutoRulesIT.java
Labels: feat

#1090 fix(metadata): change RecordingMetadataManager startup process
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
Labels: fix

#1099 fix(archives): fix recording deletion notifications do not update All-Archives view and fixed README typo
  README.md
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/rules/PeriodicArchiver.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
Labels: fix

#1096 test(db): use h2:file db mode by default
  pom.xml
  repeated-integration-tests.bash
  smoketest.sh
  src/test/java/itest/AutoRulesIT.java
Labels: test

#1095 fix(rules): handle deletion async
  src/main/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
Labels: fix

#1104 fix(auth): clean up auth exception handling
  src/main/java/io/cryostat/net/web/http/AbstractAuthenticatedRequestHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractAssetJwtConsumingHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractV2RequestHandler.java
  src/test/java/itest/JmxAuthIT.java
  src/test/java/itest/WrongServiceListeningOnPortIT.java
Labels: fix

#1107 fix(rules): persisting the rule enable/disable status
  src/main/java/io/cryostat/net/web/http/api/v2/RulePatchHandler.java
  src/main/java/io/cryostat/rules/RuleRegistry.java
  src/test/java/io/cryostat/rules/RuleRegistryTest.java
  src/test/java/itest/AutoRulesIT.java
Labels: fix

#1105 fix(metadata): check/prune metadata and compute JVM IDs async
  .gitignore
  README.md
  repeated-integration-tests.bash
  run.sh
  src/main/java/io/cryostat/configuration/ConfigurationModule.java
  src/main/java/io/cryostat/configuration/CredentialsManager.java
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/discovery/BuiltInDiscovery.java
  src/main/java/io/cryostat/discovery/PluginInfoDao.java
  src/main/java/io/cryostat/messaging/MessagingServer.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcher.java
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/main/java/io/cryostat/rules/MatchExpressionEvaluator.java
  src/main/java/io/cryostat/rules/PeriodicArchiver.java
  src/main/java/io/cryostat/rules/RuleRegistry.java
  src/main/java/io/cryostat/rules/RulesModule.java
  src/main/java/io/cryostat/storage/AbstractDao.java
  src/main/java/io/cryostat/storage/StorageModule.java
  src/test/java/io/cryostat/DirectExecutor.java
  src/test/java/io/cryostat/DirectExecutorService.java
  src/test/java/io/cryostat/configuration/CredentialsManagerTest.java
  src/test/java/io/cryostat/net/TargetConnectionManagerTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/recordings/RecordingMetadataManagerTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/io/cryostat/rules/MatchExpressionEvaluatorTest.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
  src/test/java/io/cryostat/rules/RuleRegistryTest.java
  src/test/java/itest/AutoRulesIT.java
  src/test/java/itest/InterleavedExternalTargetRequestsIT.java
Labels: fix

#1114 fix(discovery): leave Custom Targets enabled when builtins are disabled
  README.md
  smoketest.sh
  src/main/java/io/cryostat/discovery/BuiltInDiscovery.java
  src/main/java/io/cryostat/discovery/DiscoveryModule.java
  src/main/java/io/cryostat/storage/StorageModule.java
Labels: fix

#1116 build(pom): update version to next iteration snapshot
  pom.xml
Labels: chore, build

#1117 build(pom): set version to 2.2.0
  pom.xml
Labels: chore, build

#1120 build(base): update base image
  .mergify.yml
  pom.xml
Labels: backport, chore, build

#1122 fix(archives): fix various archives and metadata related issues
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
Labels: backport, fix

#1127 test(itest): reduce JDP wait times
  repeated-integration-tests.bash
  src/test/java/itest/bases/ExternalTargetsTest.java
Labels: chore, test

#1130 build(pom): use different property for jasypt-hibernate5
  pom.xml
Labels: backport, chore, build

#1136 fix(archives): fixed archive migration and metadata handling from all-archives view
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/recordings/RecordingMetadataManagerTest.java
Labels: backport, fix, needs-documentation

#1139 ci(mergify): dismiss reviews when PRs update
  .mergify.yml
Labels: ci

#624 test(recordings): itest for loading a recording to jfr-datasource
  src/test/java/itest/UploadRecordingIT.java
Labels: feat, test

#1138 ci(tests): split container/compile-build and itests run steps in ci
  .github/workflows/ci.yaml
  repeated-integration-tests.bash
Labels: ci

#1141 build(jib): upgrade jib plugin to 3.3.0
  pom.xml
Labels: chore, build

#1147 build(pom): bump -core version for JMC agent underlying fixes
  pom.xml
Labels: dependencies, chore, build

#1144 fix(ci): fix broken ci job for pushing to quay
  .github/workflows/ci.yaml
Labels: ci, fix

#1148 fix(ci): push-to-quay needs get-pom-properties and fix spotbugs job to build headless
  .github/workflows/ci.yaml
Labels: ci, fix

#1150 fix(jmc-agent): Fix notification category for TargetProbeDeleteHandler
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbeDeleteHandler.java
Labels: backport, fix

#1153 fix(ci): add ITEST_IMG_VERSION arg to repeated-tests bash script
  .github/workflows/ci.yaml
  repeated-integration-tests.bash
Labels: ci, fix

#1146 ci(mergify): only dismiss own review approvals
  .mergify.yml
Labels: ci

#1160 build(pom): optionally skip building base image
  pom.xml
Labels: backport, chore, build

#1164 build(postgres): bump postgres to 42.5, exclude checker-qual
  pom.xml
Labels: backport, chore, build

#1162 chore(readme): update with logo banner and website link
  README.md
  docs/images/cryostat_icon_rgb_default.svg
  docs/images/cryostat_icon_rgb_reverse.svg
  docs/images/cryostat_logo_hori_rgb_default.svg
  docs/images/cryostat_logo_hori_rgb_reverse.svg
  docs/images/cryostat_logo_vert_rgb_default.svg
  docs/images/cryostat_logo_vert_rgb_reverse.svg
Labels: backport, docs, chore

#1167 fix(metadata): handle metadata correctly when archives are lost
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
Labels: backport, fix

#1133 ci(oci): push PR test images to ghcr
  .github/workflows/ci-jobs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
  .mergify.yml
  README.md
Labels: ci, safe-to-test

#1170 fix(ci): correct image version pass between workflows
  .github/workflows/ci-jobs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
Labels: ci, safe-to-test

#1155 build(base-image): use ubi latest tag
  pom.xml
Labels: backport, dependencies, chore, build, safe-to-test

#1172 ci(ghcr): update secret name
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1173 ci(checkout): check out correct fork/branch during PR CI run
  .github/workflows/ci-jobs.yml
  .github/workflows/pr-ci.yml
Labels: ci, safe-to-test

#1175 ci(checkout): fix fork name checkout
  .github/workflows/pr-ci.yml
Labels: ci

#1177 ci(image): use pull_request_target event for cleanup for access to secrets
  .github/workflows/image-cleanup.yml
Labels: ci, safe-to-test

#1179 fix(graphql): expose archiveOnStop property in doStartRecording settings
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/resources/types.graphqls
  src/test/java/itest/GraphQLIT.java
Labels: backport, fix, safe-to-test

#1182 docs(md): link docs to each other
  README.md
  docs/DISCOVERY_PLUGINS.md
  docs/HTTP_API.md
Labels: docs, safe-to-test

#1185 fix(metadata): fix incorrect labels sent to notification web-socket after target recording creation
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/test/java/itest/GraphQLIT.java
Labels: backport, fix, safe-to-test
