Repository cryostatio/cryostat-legacy, pull requests merged in 2022-02, with the labels that each got.

#804 feat(jdp): add env vars to enable/configure JDP
  README.md
  pom.xml
  run.sh
  src/main/extras/app/entrypoint.sh
Labels: feat

#801 feat(reports): Add custom JFR event for report rules
  pom.xml
  src/main/extras/cryostat.jfc
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/reports/ReportsModule.java
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/test/java/io/cryostat/net/reports/SubprocessReportGeneratorTest.java
Labels: feat

#809 fix(devserver): include assets in classpath
  devserver.sh
  pom.xml
Labels: fix

#810 feat(notifications): Add "Recording Stopped" notification on implied stop
  src/main/java/io/cryostat/net/TargetConnectionManager.java
  src/main/java/io/cryostat/net/web/http/api/v1/HttpApiV1Module.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingPatchStop.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingPatchStopTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
Labels: feat

#816 feat(devserver): add jfr-datasource+grafana container setup
  devserver.sh
Labels: feat

#832 fix(notifications): unlimited max simultaneous websocket connections
  README.md
  run.sh
  src/main/java/io/cryostat/messaging/MessagingModule.java
Labels: chore

#833 chore(beta-api): promote handlers to v2.1 API
  src/main/java/io/cryostat/net/web/http/api/beta/AuthTokenPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/HttpApiBetaModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractJwtConsumingHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AuthTokenPostBodyHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AuthTokenPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/HttpApiV2Module.java
  src/main/java/io/cryostat/net/web/http/api/v2/RecordingGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetRecordingGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetTemplateGetHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/AbstractJwtConsumingHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/AuthTokenPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RecordingGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetRecordingGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetTemplateGetHandlerTest.java
  src/test/java/itest/ArchivedRecordingJwtDownloadIT.java
  src/test/java/itest/ArchivedReportJwtDownloadIT.java
  src/test/java/itest/DiscoveryIT.java
  src/test/java/itest/RecordingJwtDownloadIT.java
  src/test/java/itest/ReportJwtDownloadIT.java
  src/test/java/itest/TemplateJwtDownloadIT.java
  src/test/java/itest/bases/JwtAssetsSelfTest.java
Labels: chore

#834 chore(graphql): rename mutations and a query
  GRAPHQL.md
  graphql/environment-nodes-query-1.graphql
  graphql/environment-nodes-query-2.graphql
  graphql/environment-nodes-query-4.graphql
  graphql/environment-nodes-query-5.graphql
  graphql/environment-nodes-query-6.graphql
  graphql/environment-nodes-query-7.graphql
  graphql/root-node-query.graphql
  src/main/java/io/cryostat/net/web/http/api/beta/graph/EnvironmentNodesFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphModule.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/NodeFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/RootNodeFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/TargetNodesFetcher.java
  src/main/resources/queries.graphqls
  src/main/resources/types.graphqls
Labels: chore

#837 feat(rules): emit notifications on create/delete
  src/main/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/RulesPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulesPostHandlerTest.java
Labels: feat

#839 fix(graphQL): Restrict GraphiQL availability to dev mode
  devserver.sh
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphiQLGetHandler.java
Labels: fix
