Repository cryostatio/cryostat-legacy, pull requests merged in 2022-04, with the labels that each got.

#882 fix(oauth): use Kubernetes client to query OAuth server
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/net/OpenShiftAuthManager.java
  src/test/java/io/cryostat/net/OpenShiftAuthManagerTest.java
Labels: fix

#886 ci(release): update CI for cryostat-v2.1 branch
  .github/workflows/ci.yaml
  .mergify.yml
Labels: backport, ci

#892 fix(graphql): reduce required resourceaction permissions
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphQLGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphQLPostHandler.java
Labels: backport, fix

#898 chore(core): update core to 2.9.1
  pom.xml
Labels: backport, chore

#900 test(template): add itest for event template name sanitization
  src/test/java/itest/TemplatePostDeleteIT.java
  src/test/resources/TemplateToSanitize.jfc
Labels: backport, test

#905 build(base): update base image to 2.1.0
  pom.xml
Labels: backport, chore, build

#908 build(web-client): split build and test tasks
  pom.xml
Labels: backport, chore, build

#912 fix(snapshot): do not issue a Recording Deleted notification when empty snapshots are deleted
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
Labels: fix
