Repository cryostatio/cryostat-legacy, pull requests merged in 2022-06, with the labels that each got.

#965 test(graphql): add integration tests
  src/test/java/itest/GraphQLIT.java
Labels: test

#974 build(oci): transform image tag to lower case
  .github/workflows/ci.yaml
  pom.xml
Labels: backport, chore, build

#976 ci(oci): run validate phase before evaluating tag
  .github/workflows/ci.yaml
Labels: backport, ci, chore

#980 fix(openshift): include subresource in access check
  src/main/java/io/cryostat/net/openshift/OpenShiftAuthManager.java
Labels: fix

#988 chore(smoketest): always pull peripheral images
  pom.xml
  smoketest.sh
Labels: chore

#991 chore(pom): update to JDK17
  .github/workflows/ci.yaml
  .mvn/jvm.config
  README.md
  pom.xml
  src/container/include/truststore-setup.sh
  src/main/java/io/cryostat/messaging/MessagingServer.java
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetSnapshotPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetTemplatesGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetSnapshotPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcher.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/IllegalMatchExpressionException.java
  src/main/java/io/cryostat/rules/MatchExpressionTreeVisitor.java
  src/main/java/io/cryostat/rules/MatchExpressionValidator.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetSnapshotPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulesPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetSnapshotPostHandlerTest.java
  src/test/java/io/cryostat/rules/MatchExpressionValidatorTest.java
  src/test/java/itest/GraphQLIT.java
  src/test/java/itest/TargetRecordingOptionsIT.java
  src/test/java/itest/UploadRecordingIT.java
  src/test/java/itest/bases/ExternalTargetsTest.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: dependencies, chore

#993 chore(pom): remove spotless JDK modules workaround
  .mvn/jvm.config
  pom.xml
Labels: chore, build

#996 build(minimal): rename to 'headless'
  README.md
  build-images.sh
  devserver.sh
  pom.xml
  repeated-unit-tests.bash
  src/test/java/itest/ClientAssetsIT.java
Labels: chore, build

#998 build(version): set version to 2.1.1 for release
  pom.xml
Labels: chore, build

#1002 build(version): bump version to 2.1.2-SNAPSHOT
  pom.xml
Labels: chore, build

#1004 ci(jdk): build-deps with JDK17
  .github/workflows/ci.yaml
  pom.xml
Labels: dependencies, ci, build

#985 ci(submodule): submodule tracks branch
  .github/workflows/ci.yaml
  .gitmodules
Labels: ci

#1008 ci(submodule): use fetch-depth 0 to fetch all refs
  .github/workflows/ci.yaml
Labels: backport, ci, chore

#1012 chore(util): refactor RuleFilterParser
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/main/java/io/cryostat/util/RuleFilterParser.java
Labels: chore
