Repository cryostatio/cryostat-legacy, pull requests merged in 2022-11, with the labels that each got.

#1187 fix(devserver): correct devserver setup for other changes
  devserver.sh
  pom.xml
Labels: build, fix, safe-to-test

#1089 feat(graphql): add jvmId to ServiceRef and expose id to GraphQL queries
  src/main/java/io/cryostat/discovery/AbstractNodeTypeAdapter.java
  src/main/java/io/cryostat/discovery/DiscoveryModule.java
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/net/web/http/api/beta/HttpApiBetaModule.java
  src/main/java/io/cryostat/net/web/http/api/beta/JvmIdGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetsPostHandler.java
  src/main/java/io/cryostat/platform/ServiceRef.java
  src/main/java/io/cryostat/platform/discovery/PlatformDiscoveryModule.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/main/java/io/cryostat/platform/internal/OpenShiftPlatformStrategy.java
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/util/events/AbstractEventEmitter.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/configuration/CredentialsManagerTest.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/JvmIdGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/CredentialGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/TargetNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/platform/ServiceRefTest.java
  src/test/java/io/cryostat/platform/internal/CustomTargetPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/DefaultPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeEnvPlatformClientTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/io/cryostat/rules/RuleRegistryTest.java
  src/test/java/itest/CredentialsIT.java
  src/test/java/itest/CredentialsV2_2IT.java
  src/test/java/itest/CustomTargetsIT.java
  src/test/java/itest/InterleavedExternalTargetRequestsIT.java
  src/test/java/itest/JvmIdIT.java
  src/test/java/itest/bases/StandardSelfTest.java
  src/test/java/itest/util/http/JvmIdWebRequest.java
Labels: feat, fix, safe-to-test

#1009 feat(reports): implement json-output automated report feature
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/reports/ActiveRecordingReportCache.java
  src/main/java/io/cryostat/net/reports/ArchivedRecordingReportCache.java
  src/main/java/io/cryostat/net/reports/RemoteReportGenerator.java
  src/main/java/io/cryostat/net/reports/ReportGeneratorService.java
  src/main/java/io/cryostat/net/reports/ReportService.java
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/main/java/io/cryostat/net/web/http/HttpMimeType.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractV2RequestHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandler.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/test/java/io/cryostat/net/reports/ActiveRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/reports/ArchivedRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/reports/SubprocessReportGeneratorTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandlerTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/itest/ArchivedReportJwtDownloadIT.java
  src/test/java/itest/FileSystemArchivedRequestsIT.java
  src/test/java/itest/JvmIdIT.java
  src/test/java/itest/RecordingWorkflowIT.java
  src/test/java/itest/ReportIT.java
  src/test/java/itest/ReportJwtDownloadIT.java
  src/test/java/itest/TargetReportIT.java
  src/test/java/itest/bases/StandardSelfTest.java
  src/test/java/itest/util/http/JvmIdWebRequest.java
Labels: feat, safe-to-test

#1190 test(smoketest): replace quarkus-test container with agent-equipped
  smoketest.sh
Labels: chore, test, safe-to-test

#1181 ci(dependabot): create dependabot update config
  .github/CODEOWNERS
  .github/dependabot.yml
  pom.xml
  src/container/Dockerfile
Labels: ci, chore, safe-to-test

#1189 fix(discovery): allow targets restarting quickly using JDP to render correctly on the -web
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/platform/ServiceRef.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/platform/internal/CustomTargetPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/DefaultPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeEnvPlatformClientTest.java
Labels: fix, safe-to-test

#1193 fix(api): fix GET /api serialization and webserver JFR event
  src/container/include/cryostat.jfc
  src/main/java/io/cryostat/Cryostat.java
  src/main/java/io/cryostat/net/web/WebServer.java
  src/main/java/io/cryostat/net/web/http/api/v2/ApiGetHandler.java
  src/main/java/io/cryostat/net/web/http/generic/HttpGenericModule.java
  src/main/java/io/cryostat/net/web/http/generic/RequestLoggingHandler.java
  src/main/resources/logging.properties
  src/test/java/io/cryostat/net/web/http/generic/RequestLoggingHandlerTest.java
Labels: fix, safe-to-test

#1214 fix(logging): fix broken log config
  src/main/java/io/cryostat/Cryostat.java
  src/main/resources/io/cryostat/logging.properties
Labels: fix, safe-to-test

#1202 chore(graphql): cleanup, refactor, async execution
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AbstractPermissionedDataFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AbstractTypeResolver.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ActiveRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ArchiveRecordingMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/DeleteActiveRecordingMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/DeleteArchivedRecordingMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeChildrenFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodesFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/GraphModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/GraphQLGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/GraphQLPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/NodeFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/NodeTypeResolver.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/PutActiveRecordingMetadataMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/PutArchivedRecordingMetadataMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingTypeResolver.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RootNodeFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/SnapshotOnTargetMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StopRecordingMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/TargetNodeRecurseFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/TargetNodesFetcher.java
  src/main/java/io/cryostat/net/web/http/generic/CorsEnablingHandler.java
  src/main/java/io/cryostat/net/web/http/generic/CorsOptionsHandler.java
  src/main/java/io/cryostat/net/web/http/generic/RequestLoggingHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/AbstractPermissionedDataFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/GraphQLGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/GraphQLPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/generic/CorsEnablingHandlerTest.java
  src/test/java/io/cryostat/net/web/http/generic/CorsOptionsHandlerTest.java
  src/test/java/io/cryostat/net/web/http/generic/RequestLoggingHandlerTest.java
Labels: chore, safe-to-test

#1233 build(deps): upgrade bcprov from jdk15on to jdk18on
  pom.xml
Labels: dependencies, chore, build, safe-to-test

#1239 test(smoketest): update sample app versions
  smoketest.sh
Labels: chore, safe-to-test

#1236 build(deps): bump graphql-java-extended-scalars from 17.0 to 19.0
  pom.xml
Labels: dependencies, chore, build, safe-to-test

#1244 chore(pom): set version to 2.2.0 (final)
  pom.xml
Labels: chore, build, safe-to-test

#1251 chore(pom): set version to 2.2.1-SNAPSHOT
  pom.xml
Labels: chore, build, safe-to-test

#1249 chore(scripts): replace xpath with 'mvn help:evaluate' and default to running version tagged image
  README.md
  devserver.sh
  pom.xml
  repeated-integration-tests.bash
  run.sh
  smoketest.sh
Labels: chore, safe-to-test

#1265 chore(smoketest): correct conflicting discovery plugins
  smoketest.sh
Labels: chore, safe-to-test

#1264 chore(dependabot): increase PR limit to 10
  .github/dependabot.yml
Labels: ci, chore, safe-to-test
