Repository cryostatio/cryostat-legacy, pull requests merged in 2022-01, with the labels that each got.

#787 fix(archiveupload): Delete improperly-named file uploads
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandlerTest.java
Labels: fix

#790 docs(readme): Add cgroups v2 configuration instructions to README
  README.md
Labels: docs, chore

#792 feat(websocket): Add keepalive server ping
  src/main/java/io/cryostat/messaging/MessagingModule.java
  src/main/java/io/cryostat/messaging/MessagingServer.java
  src/main/java/io/cryostat/messaging/WsClient.java
  src/test/java/io/cryostat/messaging/MessagingServerTest.java
Labels: feat

#794 chore(workerthreads): use daemon threads
  src/main/java/io/cryostat/messaging/MessagingModule.java
  src/main/java/io/cryostat/messaging/MessagingServer.java
  src/main/java/io/cryostat/rules/RulesModule.java
Labels: chore

#797 fix(reports): convey remote report generation status codes to client
  pom.xml
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/reports/RemoteReportGenerator.java
  src/main/java/io/cryostat/net/reports/ReportGenerationException.java
  src/main/java/io/cryostat/net/reports/ReportsModule.java
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/main/java/io/cryostat/net/web/WebModule.java
  src/main/java/io/cryostat/net/web/http/HttpModule.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandler.java
  src/test/java/io/cryostat/net/reports/ActiveRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/reports/SubprocessReportGeneratorTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandlerTest.java
Labels: fix

#798 docs(websocket): Fix typo
  README.md
Labels: docs

#800 docs(readme): document xpath requirement for run.sh/smoketest.sh
  README.md
Labels: docs

#806 fix(devserver): set probe template directory
  devserver.sh
Labels: fix
