Repository cryostatio/cryostat-legacy, pull requests merged in 2022-05, with the labels that each got.

#920 build(version): bump version to 2.2.0-SNAPSHOT
  pom.xml
Labels: chore, build

#926 build(version): set version for 2.1.0 release
  pom.xml
Labels: chore

#931 build(version): bump version to 2.1.1-SNAPSHOT
  pom.xml
Labels: chore, build

#930 fix(vertx): deploy verticles with async decorated blocking handlers
  src/main/java/io/cryostat/Cryostat.java
  src/main/java/io/cryostat/net/HttpServer.java
  src/main/java/io/cryostat/net/web/WebModule.java
  src/main/java/io/cryostat/net/web/WebServer.java
Labels: backport, fix

#932 test(itest): add tests for bad targetIds
  src/test/java/itest/NonExistentTargetIT.java
  src/test/java/itest/WrongServiceListeningOnPortIT.java
Labels: test

#954 docs(api): Rename /api/beta/discovery to /api/v2.1/discovery
  HTTP_API.md
Labels: docs

#956 chore(api): Move Probe handlers from beta to v2 package
  src/main/java/io/cryostat/net/web/http/api/beta/HttpApiBetaModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/HttpApiV2Module.java
  src/main/java/io/cryostat/net/web/http/api/v2/ProbeTemplateDeleteHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadBodyHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbeDeleteHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbesGetHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/ProbeTemplateDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetProbeDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetProbeGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandlerTest.java
Labels: chore

#957 fix(recordings): empty archive directories are now removed
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
Labels: fix

#962 docs(api): health/liveness endpoint now is documented under the V2 API
  HTTP_API.md
Labels: backport, docs, chore
