Repository cryostatio/cryostat-legacy, pull requests merged in 2022-09, with the labels that each got.

#1060 test(graphql): add graphql unit tests
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/GraphModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcher.java
  src/test/java/io/cryostat/UnknownNode.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/AbstractPermissionedDataFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ActiveRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ArchiveRecordingMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/DeleteActiveRecordingMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/DeleteArchivedRecordingMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeChildrenFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodesFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/GraphQLGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/GraphQLPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/NodeFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/RootNodeFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/SnapshotOnTargetMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/StopRecordingMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/TargetNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/TargetNodesFetcherTest.java
Labels: test

#1059 feat(discovery): JWT flow
  COMMANDS.md
  docs/GRAPHQL.md
  docs/HTTP_API.md
  smoketest.sh
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/discovery/RegistrationException.java
  src/main/java/io/cryostat/net/security/jwt/DiscoveryJwtHelper.java
  src/main/java/io/cryostat/net/security/jwt/JwtModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractAssetJwtConsumingHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/AbstractDiscoveryJwtConsumingHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryDeregistrationHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryPostBodyHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/RecordingGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/RequestParameters.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetRecordingGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetTemplateGetHandler.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/AbstractAssetJwtConsumingHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/AbstractDiscoveryJwtConsumingHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryDeregistrationHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetEventsGetHandlerTest.java
  src/test/java/itest/DiscoveryPluginIT.java
Labels: feat

#1052 chore(db): upgrade h2 and postgres versions
  pom.xml
  smoketest.sh
  src/main/java/io/cryostat/discovery/BuiltInDiscovery.java
  src/main/java/io/cryostat/discovery/PluginInfo.java
  src/main/java/io/cryostat/storage/StorageModule.java
Labels: dependencies, chore

#1063 fix(archives): metadata labels may be set during upload
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandlerTest.java
Labels: fix

#1062 feat(discovery): nonunique plugin realms
  smoketest.sh
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/discovery/BuiltInDiscovery.java
  src/main/java/io/cryostat/discovery/DiscoveryModule.java
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/discovery/PluginInfo.java
  src/main/java/io/cryostat/discovery/PluginInfoDao.java
  src/main/java/io/cryostat/net/security/jwt/DiscoveryJwtHelper.java
  src/main/java/io/cryostat/net/security/jwt/JwtModule.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandler.java
  src/main/java/io/cryostat/platform/discovery/BaseNodeType.java
  src/main/java/io/cryostat/platform/discovery/EnvironmentNode.java
  src/main/java/io/cryostat/platform/discovery/JDPNodeTypeAdapter.java
  src/main/java/io/cryostat/platform/discovery/PlatformDiscoveryModule.java
  src/main/java/io/cryostat/platform/internal/CustomTargetPlatformClient.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeChildrenFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/NodeFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/TargetNodeRecurseFetcherTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
  src/test/java/itest/DiscoveryIT.java
  src/test/java/itest/DiscoveryPluginIT.java
Labels: feat

#1070 docs(discovery): add DISCOVERY_PLUGINS.md
  docs/DISCOVERY_PLUGINS.md
  docs/GRAPHQL.md
  docs/HTTP_API.md
Labels: docs

#1073 fix(rules): automatically start rules on jmx credentials change
  src/main/java/io/cryostat/configuration/CredentialsManager.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
Labels: fix

#1075 docs(graphql): update GraphQL docs
  docs/GRAPHQL.md
  docs/graphql/README.md
  docs/graphql/environment-nodes-query-1.graphql
  docs/graphql/environment-nodes-query-2.graphql
  docs/graphql/environment-nodes-query-3.graphql
  docs/graphql/environment-nodes-query-4.graphql
  docs/graphql/environment-nodes-query-5.graphql
  docs/graphql/environment-nodes-query-6.graphql
  docs/graphql/environment-nodes-query-7.graphql
  docs/graphql/root-node-query.graphql
  docs/graphql/target-nodes-query.graphql
  run.sh
  smoketest.sh
Labels: docs

#1074 docs(HTTP_API): document JWT asset download endpoints
  docs/HTTP_API.md
Labels: docs

#1079 test(smoketest): publish different HTTP ports for each fib demo app
  smoketest.sh
Labels: test

#1077 feat(archives): add size field to archived recordings
  docs/HTTP_API.md
  docs/graphql/environment-nodes-query-3.graphql
  docs/graphql/target-nodes-archive-recording-query.graphql
  docs/graphql/target-nodes-query.graphql
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/FilterInput.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/PutArchivedRecordingMetadataMutator.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/rules/ArchivedRecordingInfo.java
  src/main/resources/queries.graphqls
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/AllArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
  src/test/java/itest/GraphQLIT.java
Labels: feat

#1080 feat(targetconnectionmanager): limit concurrent connections, do work async
  README.md
  pom.xml
  run.sh
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/net/TargetConnectionManager.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/PutActiveRecordingMetadataMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StopRecordingMutator.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/net/TargetConnectionManagerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/RecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutatorTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/StopRecordingMutatorTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/itest/RecordingJwtDownloadIT.java
Labels: feat, needs-documentation

#1088 fix(rules): correct archive scanning on startup
  src/main/java/io/cryostat/rules/PeriodicArchiver.java
  src/main/java/io/cryostat/rules/PeriodicArchiverFactory.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/main/java/io/cryostat/rules/RulesModule.java
  src/test/java/io/cryostat/rules/PeriodicArchiverTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
Labels: fix
