Repository cryostatio/cryostat-legacy, pull requests merged in 2022-03, with the labels that each got.

#841 docs(targets): Add custom target docs
  HTTP_API.md
Labels: docs

#843 fix(grafana): add GRAFANA_DASHBOARD_EXT_URL variable
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/web/http/api/v1/GrafanaDashboardUrlGetHandler.java
  src/test/java/io/cryostat/net/web/http/api/v1/GrafanaDashboardUrlGetHandlerTest.java
Labels: fix

#838 fix(cors): allow Content-Type headers
  src/main/java/io/cryostat/net/web/http/generic/CorsEnablingHandler.java
  src/test/java/io/cryostat/net/web/http/generic/CorsEnablingHandlerTest.java
Labels: chore

#845 fix(health): report service configured/available separately
  src/main/java/io/cryostat/net/web/http/generic/HealthGetHandler.java
  src/test/java/io/cryostat/net/web/http/generic/HealthGetHandlerTest.java
Labels: fix

#850 build(deps): bump nimbus-jose-jwt to 9.16.1
  pom.xml
Labels: chore, build

#852 docs(http_api): update docs for GET /health
  HTTP_API.md
Labels: docs

#847 feat(graphql): apply conjunction of filters
  graphql/environment-nodes-query-1.graphql
  graphql/environment-nodes-query-2.graphql
  graphql/environment-nodes-query-3.graphql
  graphql/environment-nodes-query-4.graphql
  graphql/environment-nodes-query-5.graphql
  graphql/environment-nodes-query-6.graphql
  graphql/environment-nodes-query-7.graphql
  src/main/java/io/cryostat/net/web/http/api/beta/graph/EnvironmentNodesFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/FilterInput.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphModule.java
  src/main/resources/types.graphqls
Labels: feat

#855 chore(fs): Set Posix file permissions
  pom.xml
  src/main/java/io/cryostat/configuration/CredentialsManager.java
Labels: chore

#856 fix(graphql): override nodetype tostrings for display
  src/main/java/io/cryostat/platform/discovery/AbstractNode.java
  src/main/java/io/cryostat/platform/discovery/BaseNodeType.java
  src/main/java/io/cryostat/platform/internal/CustomTargetPlatformClient.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/test/java/io/cryostat/platform/internal/KubeEnvPlatformClientTest.java
  src/test/java/itest/DiscoveryIT.java
Labels: fix

#861 fix(graphql): name-based filtering on more queries
  src/main/resources/queries.graphqls
  src/main/resources/types.graphqls
Labels: fix

#863 feat(rules): apply rule-name label to automatically archived recordings
  src/main/java/io/cryostat/jmc/serialization/HyperlinkedSerializableRecordingDescriptor.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandler.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/ArchivedRecordingInfo.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/main/java/io/cryostat/rules/RulesModule.java
  src/test/java/io/cryostat/recordings/RecordingMetadataManagerTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/itest/RecordingMetadataIT.java
Labels: feat

#866 chore(build): Update SpotBugs
  pom.xml
  src/main/java/io/cryostat/MainModule.java
  src/main/java/io/cryostat/configuration/ConfigurationModule.java
  src/main/java/io/cryostat/jmc/serialization/SerializableEventTypeInfo.java
  src/main/java/io/cryostat/messaging/notifications/Notification.java
  src/main/java/io/cryostat/net/HttpServer.java
  src/main/java/io/cryostat/net/OpenShiftAuthManager.java
  src/main/java/io/cryostat/net/UnauthorizedException.java
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ApiGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/IntermediateResponse.java
  src/main/java/io/cryostat/net/web/http/api/v2/RequestParameters.java
  src/main/java/io/cryostat/platform/ServiceRef.java
  src/main/java/io/cryostat/platform/TargetDiscoveryEvent.java
  src/main/java/io/cryostat/platform/discovery/TargetNode.java
  src/main/java/io/cryostat/platform/internal/CustomTargetPlatformClient.java
  src/main/java/io/cryostat/platform/internal/MergingPlatformClient.java
  src/main/java/io/cryostat/platform/internal/OpenShiftPlatformStrategy.java
  src/main/java/io/cryostat/recordings/EventOptionsBuilder.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/rules/IllegalMatchExpressionException.java
  src/main/java/io/cryostat/rules/MatchExpressionValidationException.java
  src/main/java/io/cryostat/rules/RuleException.java
  src/main/java/io/cryostat/util/JavaProcess.java
  src/main/java/io/cryostat/util/RelativeURIException.java
Labels: chore, build

#868 feat(graphql): filter active recordings by various properties
  src/main/java/io/cryostat/net/web/http/api/beta/graph/ActiveRecordingsByNameFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/ActiveRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/FilterInput.java
  src/main/java/io/cryostat/net/web/http/api/beta/graph/GraphModule.java
  src/main/resources/types.graphqls
Labels: feat

#871 chore(devserver): enable Basic auth by default
  devserver.sh
Labels: chore

#874 fix(labels): split event template name/type into separate labels
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/itest/RecordingMetadataIT.java
Labels: fix

#875 docs(api): omit 500 responses
  HTTP_API.md
Labels: docs
