Repository cryostatio/cryostat-legacy, pull requests merged in 2022-08, with the labels that each got.

#1034 feat(version): log application version at startup
  src/main/java/io/cryostat/Cryostat.java
Labels: feat

#1035 docs(test): explain how to run one itest
  README.md
Labels: docs

#1037 fix(k8s): replace Watch with Informer
  pom.xml
  src/main/java/io/cryostat/net/openshift/OpenShiftAuthManager.java
  src/main/java/io/cryostat/platform/discovery/AbstractNode.java
  src/main/java/io/cryostat/platform/discovery/EnvironmentNode.java
  src/main/java/io/cryostat/platform/discovery/TargetNode.java
  src/main/java/io/cryostat/platform/internal/CustomTargetPlatformClient.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/main/java/io/cryostat/platform/internal/MergingPlatformClient.java
  src/test/java/io/cryostat/net/openshift/OpenShiftAuthManagerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/RecordingMetadataLabelsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/TargetRecordingMetadataLabelsPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryGetHandlerTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/MergingPlatformClientTest.java
Labels: fix, needs-documentation

#1039 feat(credentials): add a count of the matched targets to the CredentialsGetHandler response
  HTTP_API.md
  src/main/java/io/cryostat/net/web/http/api/v2/CredentialDeleteHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/CredentialsGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/CredentialsPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/CredentialDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/CredentialsGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/CredentialsPostHandlerTest.java
  src/test/java/itest/CredentialsV2_2IT.java
Labels: feat

#1044 feat(discovery): annotate targets with Realm belonged to
  src/main/java/io/cryostat/net/web/http/api/v2/TargetsPostHandler.java
  src/main/java/io/cryostat/platform/ServiceRef.java
  src/main/java/io/cryostat/platform/internal/CustomTargetPlatformClient.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PlatformStrategyModule.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetsPostHandlerTest.java
  src/test/java/io/cryostat/platform/internal/DefaultPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
  src/test/java/io/cryostat/platform/internal/KubeEnvPlatformClientTest.java
  src/test/java/itest/CredentialsIT.java
  src/test/java/itest/CredentialsV2_2IT.java
  src/test/java/itest/DiscoveryIT.java
  src/test/java/itest/GraphQLIT.java
  src/test/java/itest/InterleavedExternalTargetRequestsIT.java
Labels: feat

#1055 fix(discovery): discovery plugin register/update errors respond 4xx
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/discovery/PluginInfo.java
  src/main/java/io/cryostat/discovery/RegistrationException.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandler.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/itest/DiscoveryPluginIT.java
  src/test/java/itest/bases/StandardSelfTest.java
Labels: fix

#1057 test(k8s): remove TRYKUBECONFIG system property
  src/test/java/io/cryostat/net/openshift/OpenShiftAuthManagerTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
Labels: chore, test

#1042 fix(k8s-rbac): update permission mapping between k8s and cryostat
  src/main/java/io/cryostat/net/openshift/OpenShiftAuthManager.java
  src/main/resources/io/cryostat/net/openshift/OpenShiftAuthManager.properties
  src/test/java/io/cryostat/net/openshift/OpenShiftAuthManagerTest.java
Labels: fix
