Repository cryostatio/cryostat-legacy, pull requests merged in 2023-02, with the labels that each got.

#1351 chore(dev): use JAVA_HOME instead of hardcoded path
  certs/generate-dev-certs.sh
Labels: chore, safe-to-test

#1354 fix(datasource): enable overwrite and use hardcoded filename
  src/main/java/io/cryostat/net/web/WebServer.java
  src/main/java/io/cryostat/net/web/http/api/beta/RecordingUploadPostFromPathHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/RecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/beta/RecordingUploadPostFromPathHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/RecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/RecordingUploadPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingUploadPostHandlerTest.java
  src/test/java/itest/UploadRecordingIT.java
Labels: fix, safe-to-test

#1356 chore(scripts): use `xpath` in cryostat dev scripts if available
  devserver.sh
  repeated-integration-tests.bash
  run.sh
  smoketest.sh
Labels: chore, safe-to-test

#1347 fix(rules): refactor rules to become aware of jvmIds
  src/main/java/io/cryostat/configuration/CredentialsManager.java
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/RulePatchHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetsPostHandler.java
  src/main/java/io/cryostat/platform/PlatformClient.java
  src/main/java/io/cryostat/platform/discovery/AbstractNode.java
  src/main/java/io/cryostat/platform/internal/DefaultPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RuleDeleteHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulePatchHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetsPostHandlerTest.java
  src/test/java/itest/CustomTargetsIT.java
Labels: fix, safe-to-test

#1359 feat(activerecordings): add param for restarting existing recording definitions
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandlerTest.java
Labels: feat, safe-to-test

#1378 ci(deps): configure Dependabot to read from GH packages
  .github/dependabot.yml
Labels: ci, safe-to-test

#1374 fix(k8s): no implicit own-namespace watching
  src/main/java/io/cryostat/platform/internal/DefaultPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/OpenShiftPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PlatformStrategyModule.java
Labels: fix, safe-to-test
