Repository cryostatio/cryostat-legacy, pull requests merged in 2023-11, with the labels that each got.

#1520 feat(plugin): send additional env payload to plugins on registration
  src/main/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandler.java
  src/main/java/io/cryostat/platform/internal/PlatformDetectionStrategy.java
  src/test/java/io/cryostat/net/web/http/api/v2/DiscoveryRegistrationHandlerTest.java
  src/test/java/itest/DiscoveryPluginIT.java
Labels: backport, feat, safe-to-test

#1779 fix(liveness): execute on worker pool
  src/main/java/io/cryostat/net/web/http/generic/HealthLivenessGetHandler.java
Labels: backport, fix, safe-to-test

#1784 chore(ci): update ci
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/integrated-test.yml
  .github/workflows/pr-ci.yml
Labels: ci, chore, safe-to-test

#1786 chore(ci): push-ci updates
  .github/workflows/push-ci.yml
Labels: ci, chore, safe-to-test

#1798 fix(CI): fix workflow bug
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/integrated-test.yml
  .github/workflows/pr-ci.yml
Labels: ci, fix, safe-to-test
