Repository cryostatio/cryostat-legacy, pull requests merged in 2023-12, with the labels that each got.

#1802 chore(ci): /build_test comment includes code-analysis outcome
  .github/workflows/pr-ci.yml
Labels: ci, chore, safe-to-test

#1816 chore(release): set version to 2.4.0
  pom.xml
Labels: chore, build, safe-to-test

#1819 ci(release): consider lightweight tags, run workflow on tag
  .github/workflows/push-ci.yml
  pom.xml
Labels: backport, ci, safe-to-test

#1823 ci(release): match all tags for push-ci workflow
  .github/workflows/push-ci.yml
Labels: backport, ci, safe-to-test

#1828 ci(release-notes): replace release-drafter with release labels config
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: backport, ci, safe-to-test

#1830 test(client-assets): update test for relative app bundle location
  src/test/java/itest/ClientAssetsIT.java
Labels: backport, test, safe-to-test

#1833 chore(web-client): use cryostat-web-2.x
  .gitmodules
Labels: backport, chore, build, safe-to-test
