Repository cryostatio/cryostat-legacy, pull requests merged in 2023-09, with the labels that each got.

#1638 feat(ci): implement PR command /request-review
  .github/workflows/pr-remove-request-review.yml
  .github/workflows/pr-request-review.yml
Labels: ci, feat, safe-to-test

#1636 test(smoketest): tinker with resource limits
  run.sh
  smoketest.sh
Labels: test, safe-to-test, review-requested

#1658 fix(startup): platform detection progresses with limited parallelism
  src/main/java/io/cryostat/discovery/DiscoveryModule.java
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/net/AgentClient.java
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/platform/internal/DockerPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PodmanPlatformStrategy.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
Labels: fix, safe-to-test

#1657 ci(mergify): use mergify to request reviewers
  .github/workflows/pr-remove-request-review.yml
  .github/workflows/pr-request-review.yml
  .mergify.yml
Labels: ci, fix, safe-to-test, review-requested

#1663 fix(build): allow Cryostat to be buildable with docker-ce
  pom.xml
  run.sh
Labels: build, fix, safe-to-test

#1662 build(pom): restore dagger compiler property
  pom.xml
Labels: chore, build, safe-to-test

#1667 ci(submodule): don't use remote branch HEAD
  .github/workflows/ci-build-image.yml
Labels: backport, ci, safe-to-test

#1650 fix(discovery): plugin registration bugfixes
  smoketest.sh
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/net/web/http/api/beta/MatchExpressionsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/CredentialsPostHandler.java
Labels: fix, safe-to-test

#1671 docs(http): update health endpoint to include cryostatVersion
  docs/HTTP_API.md
Labels: docs

#1672 fix(recording): backwards compatibility for restart parameter
  docs/HTTP_API.md
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandlerTest.java
  src/test/java/itest/GraphQLIT.java
Labels: fix, safe-to-test

#1677 chore(rules): remove unused code
  src/main/java/io/cryostat/rules/RulesModule.java
  src/test/java/io/cryostat/rules/RulesHeadersFactoryTest.java
Labels: chore, safe-to-test

#1680 chore(ci): update PR actions to node16
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
Labels: ci, safe-to-test

#1678 chore(smoketest): remove Agent prefer-jmx env var
  smoketest.sh
Labels: chore, safe-to-test

#1674 fix(credentials): query for Agent HTTP credentials without specific userinfo
  src/main/java/io/cryostat/configuration/CredentialsManager.java
  src/main/java/io/cryostat/util/URIUtil.java
Labels: fix, safe-to-test

#1685 chore(reports): remove HTML report generation
  pom.xml
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/reports/ActiveRecordingReportCache.java
  src/main/java/io/cryostat/net/reports/ArchivedRecordingReportCache.java
  src/main/java/io/cryostat/net/reports/RemoteReportGenerator.java
  src/main/java/io/cryostat/net/reports/ReportGeneratorService.java
  src/main/java/io/cryostat/net/reports/ReportService.java
  src/main/java/io/cryostat/net/reports/ReportTransformerModule.java
  src/main/java/io/cryostat/net/reports/ReportsModule.java
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/ReportGetHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandler.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/test/java/io/cryostat/net/reports/ActiveRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/reports/ArchivedRecordingReportCacheTest.java
  src/test/java/io/cryostat/net/reports/SubprocessReportGeneratorTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v1/TargetReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/ReportGetHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetReportGetHandlerTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/itest/ArchivedReportJwtDownloadIT.java
  src/test/java/itest/FileSystemArchivedRequestsIT.java
  src/test/java/itest/RecordingWorkflowIT.java
  src/test/java/itest/ReportIT.java
  src/test/java/itest/ReportJwtDownloadIT.java
  src/test/java/itest/TargetReportIT.java
Labels: breaking change, chore, safe-to-test

#1687 build(mvn): add mvn wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  README.md
  mvnw
  mvnw.cmd
Labels: chore, build, safe-to-test

#1684 build(frontend): update node version
  pom.xml
Labels: dependencies, chore, build, safe-to-test
