Repository cryostatio/cryostat-legacy, pull requests merged in 2023-10, with the labels that each got.

#1697 chore(release): point web-client submodule to 2.4 release branch
  .gitmodules
Labels: chore, safe-to-test

#1696 chore(release): bump versions for 2.4 release branch point
  .mergify.yml
  pom.xml
Labels: chore, safe-to-test

#1700 fix(discovery): do not fail startup if plugin ping fails
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
Labels: backport, fix, safe-to-test

#1703 chore(dependabot): increase PR limit
  .github/dependabot.yml
Labels: chore, build, safe-to-test

#1716 ci(push): queue builds rather than cancelling progress
  .github/workflows/push-ci.yml
Labels: ci, safe-to-test

#1715 build(deps): bump org.bouncycastle:bcprov-jdk18on
  pom.xml
Labels: backport, dependencies, chore, safe-to-test

#1720 fix(build): use vertx-dependencies and netty-bom for version management
  pom.xml
Labels: dependencies, build, fix, safe-to-test

#1726 docs(contribute): update contributing guides
  CONTRIBUTING.md
Labels: docs, safe-to-test

#1730 ci(dependabot): request review for deps update from maintainers
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci, chore, safe-to-test

#1743 fix(logging): exclude slf4j from vertx bom
  pom.xml
Labels: backport, dependencies, fix, safe-to-test

#1750 ci(dependabot): remove reviewers config
  .github/dependabot.yml
Labels: ci, safe-to-test

#1746 fix(recordings): fix bug caused by #1692
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
Labels: backport, fix, safe-to-test

#1756 fix(ci): fix start up failure
  .github/workflows/push-ci.yml
Labels: ci, fix, safe-to-test

#1689 feat(recordings): include jvmId in Notifications to -web
  src/main/java/io/cryostat/messaging/notifications/Notification.java
  src/main/java/io/cryostat/messaging/notifications/NotificationFactory.java
  src/main/java/io/cryostat/messaging/notifications/NotificationsModule.java
  src/main/java/io/cryostat/net/reports/AbstractReportGeneratorService.java
  src/main/java/io/cryostat/net/web/http/api/beta/RecordingsFromIdPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandler.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/io/cryostat/net/web/http/api/beta/RecordingsFromIdPostHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandlerTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/io/cryostat/recordings/RecordingMetadataManagerTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
Labels: feat, safe-to-test

#1760 ci(build-image): remove ghcr user login
  .github/workflows/ci-build-image.yml
  .github/workflows/push-ci.yml
Labels: fix, safe-to-test
