Repository cryostatio/cryostat-legacy, pull requests merged in 2023-07, with the labels that each got.

#1573 test(itest): ensure required mvn plugin is downloaded
  .github/workflows/ci-build-image.yml
  repeated-integration-tests.bash
  run.sh
Labels: test, safe-to-test

#1574 test(itest): allow explicit override of itest image tag
  .github/workflows/ci-build-image.yml
  pom.xml
  repeated-integration-tests.bash
Labels: test, safe-to-test

#1569 docs(README): update README to manually download mvn help plugin
  README.md
  src/main/java/io/cryostat/platform/internal/DockerPlatformClient.java
Labels: docs, safe-to-test

#1570 fix(ssl): fixed env var behaves unexpectedly
  src/main/java/io/cryostat/net/SslConfiguration.java
Labels: backport, fix, safe-to-test

#1593 fix(discovery): retry failed target connections
  compose/compose-cryostat.yaml
  compose/compose-vertx-jmx.yaml
  smoketest-docker.sh
  smoketest.sh
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/itest/bases/ExternalTargetsTest.java
Labels: backport, fix, safe-to-test

#1603 feat(matchExpression): POST matchExpression resource as json
  src/main/java/io/cryostat/net/web/http/api/beta/MatchExpressionsPostHandler.java
  src/main/java/io/cryostat/rules/MatchExpressionEvaluator.java
  src/test/java/io/cryostat/net/web/http/api/beta/MatchExpressionsPostHandlerTest.java
  src/test/java/io/cryostat/rules/MatchExpressionEvaluatorTest.java
Labels: feat, fix, safe-to-test
