Repository cryostatio/cryostat-legacy, pull requests merged in 2023-08, with the labels that each got.

#1609 chore(gh): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Labels: chore, safe-to-test

#1604 feat(agent): implement Agent HTTP dynamic JFR stop/delete
  src/main/java/io/cryostat/net/AgentClient.java
  src/main/java/io/cryostat/net/AgentJFRService.java
Labels: feat, dependent, safe-to-test

#1587 feat(replace-param): Fine-grained replacement parameter for Start Recording Mutator
  src/main/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/StartRecordingOnTargetMutator.java
  src/main/java/io/cryostat/recordings/RecordingTargetHelper.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/web/http/api/v1/TargetRecordingsPostHandlerTest.java
  src/test/java/io/cryostat/recordings/RecordingTargetHelperTest.java
  src/test/java/io/cryostat/rules/RuleProcessorTest.java
  src/test/java/itest/GraphQLIT.java
Labels: feat, safe-to-test

#1615 test(smoketest): apply resource constraints matching operator deployment defaults
  run.sh
  smoketest.sh
Labels: test, safe-to-test

#1614 test(smoketest): set jfr-datasource for JDP and Podman discovery
  smoketest.sh
Labels: test, safe-to-test

#1599 feat(ci): build_test PR command
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/pr-ci.yml
Labels: feat, safe-to-test

#1548 chore(pom): add native dependency for netty on arm64
  pom.xml
  src/main/java/io/cryostat/platform/internal/DockerPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PodmanPlatformStrategy.java
Labels: dependencies, chore, build, safe-to-test

#1635 ci(permissions): set explicit write permission requests with restrictive GITHUB_TOKEN
  .github/release-drafter.yml
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/dependent-issues.yml
  .github/workflows/image-cleanup.yml
  .github/workflows/linked-issue.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-labeled.yml
  .github/workflows/push-ci.yml
  .github/workflows/release-drafter.yml
  .github/workflows/semantic-pr.yml
Labels: ci, fix, safe-to-test

#1647 ci(push): fix env var typo
  .github/workflows/push-ci.yml
Labels: ci, fix, safe-to-test
