Repository cryostatio/cryostat-legacy, pull requests merged in 2023-04, with the labels that each got.

#1445 fix(fd): close leaked file descriptors
  pom.xml
  src/main/java/io/cryostat/net/openshift/OpenShiftNetworkModule.java
  src/main/java/io/cryostat/net/reports/SubprocessReportGenerator.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingMetadataManager.java
  src/main/java/io/cryostat/rules/RuleRegistry.java
Labels: fix, safe-to-test

#1454 fix(rules): credential-activated rules no longer activate on targets with the rule already active
  src/main/java/io/cryostat/rules/RuleProcessor.java
Labels: fix, safe-to-test

#1460 build(config): update pom and mergify for 2.3 release
  .mergify.yml
  pom.xml
Labels: chore, build, safe-to-test

#1461 ci(submodule): update submodule track branch
  .gitmodules
Labels: chore, build, safe-to-test

#1457 fix(archive-directories): fix incorrect data in archived directory get response
  docs/HTTP_API.md
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
  src/test/java/itest/FileSystemArchivedRequestsIT.java
Labels: backport, fix, safe-to-test

#1466 chore(test): add config to skip pulling test images
  pom.xml
  repeated-integration-tests.bash
  smoketest.sh
Labels: backport, chore, safe-to-test

#1468 feat(vertx): configurable worker pool size
  run.sh
  src/main/java/io/cryostat/MainModule.java
  src/main/java/io/cryostat/VerticleDeployer.java
  src/main/java/io/cryostat/configuration/Variables.java
Labels: backport, feat, safe-to-test

#1475 chore(discovery): remove kubeenv discovery plugin
  README.md
  src/main/java/io/cryostat/platform/discovery/AbstractNode.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeEnvPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PlatformStrategyModule.java
  src/test/java/io/cryostat/platform/internal/KubeEnvPlatformClientTest.java
Labels: backport, chore, safe-to-test
