Repository cryostatio/cryostat-legacy, pull requests merged in 2023-06, with the labels that each got.

#1499 fix(multipart): accept multipart/form-data with boundary
  cryostat
  src/main/java/io/cryostat/net/web/http/api/v2/RulesPostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/RulesPostHandlerTest.java
  src/test/java/itest/RulesPostMultipartIT.java
Labels: backport, fix, safe-to-test

#1514 feat(podman): use labels to specify JMX port and optionally host
  run.sh
  smoketest.sh
  src/main/java/io/cryostat/platform/internal/PlatformStrategyModule.java
  src/main/java/io/cryostat/platform/internal/PodmanPlatformClient.java
  src/main/java/io/cryostat/platform/internal/PodmanPlatformStrategy.java
Labels: feat, safe-to-test

#1519 chore(smoketest): update container versions for latest cryostat-agent
  smoketest.sh
Labels: chore, safe-to-test

#1522 chore(cleanup): remove empty file accidentally committed
  cryostat
Labels: backport, chore, safe-to-test

#1524 fix(podman): fix blocked thread on container inspection request
  src/main/java/io/cryostat/platform/internal/PodmanPlatformClient.java
  src/main/java/io/cryostat/platform/internal/PodmanPlatformStrategy.java
Labels: fix, safe-to-test

#1525 test(smoketest): add native image sample app
  pom.xml
  smoketest.sh
Labels: test, safe-to-test

#1534 test(itest): improve container startup health detection
  pom.xml
Labels: test, fix, safe-to-test

#1352 build(oci): add config to allow building images for other archs
  README.md
  pom.xml
Labels: chore, build, safe-to-test

#1540 ci(multiarch): build multiarch manifest image
  .github/workflows/ci-jobs.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
Labels: ci, chore, safe-to-test

#1541 ci(multiarch): check for container startup and make qemu available for itests
  .github/workflows/ci-jobs.yml
  pom.xml
Labels: ci, chore, build, safe-to-test

#1543 ci(multiarch): better status checks and logging
  .github/workflows/ci-jobs.yml
  pom.xml
  repeated-integration-tests.bash
  run.sh
Labels: ci, test, safe-to-test

#1545 ci(multiarch): per-arch PR review images, temp skip itests for ARM64 on PR merge
  .github/workflows/ci-build-image.yml
  .github/workflows/ci-code-analysis.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
Labels: ci, chore, safe-to-test

#1549 fix(startup): be tolerant of built-in discovery mechanism failures
  src/main/java/io/cryostat/Cryostat.java
  src/main/java/io/cryostat/discovery/BuiltInDiscovery.java
Labels: backport, fix, safe-to-test

#1544 ci(itest): print container health and latest logs on each readiness check
  .github/workflows/ci-build-image.yml
  .github/workflows/pr-ci.yml
  .github/workflows/push-ci.yml
  pom.xml
Labels: ci, chore, safe-to-test

#1556 ci(manifest): correct 'podman manifest create' invocation
  .github/workflows/push-ci.yml
Labels: ci, fix, safe-to-test

#1557 ci(manifest): corrections for multiarch manifest load and create
  .github/workflows/push-ci.yml
Labels: ci, fix, safe-to-test

#1558 ci(tags): set env vars for container tags
  .github/workflows/push-ci.yml
Labels: ci, fix, safe-to-test

#1480 chore(tests): use docker-compose with additional test scripts
  .env
  compose-test.bash
  compose/COMPOSE_TESTING_README.md
  compose/compose-cryostat-grafana.yaml
  compose/compose-cryostat-reports.yaml
  compose/compose-cryostat.yaml
  compose/compose-jfr-datasource.yaml
  compose/compose-jmxquarkus.yaml
  compose/compose-postgres.yaml
  compose/compose-quarkus-agent.yaml
  compose/compose-vertx-jmx.yaml
  test-restart.bash
Labels: chore, safe-to-test

#1563 chore(agent): update agent template utilities
  pom.xml
  src/main/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandler.java
  src/main/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandler.java
  src/test/java/io/cryostat/net/web/http/api/v2/ProbeTemplateUploadHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/TargetProbePostHandlerTest.java
Labels: backport, chore, safe-to-test

#1518 feat(GraphQL): Add GraphQL filter ability for node name from set
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ActiveRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodesFetcher.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/FilterInput.java
  src/main/java/io/cryostat/net/web/http/api/v2/graph/TargetNodesFetcher.java
  src/main/resources/types.graphqls
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ActiveRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/ArchivedRecordingsFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/EnvironmentNodesFetcherTest.java
  src/test/java/io/cryostat/net/web/http/api/v2/graph/TargetNodesFetcherTest.java
  src/test/java/itest/GraphQLIT.java
Labels: feat, safe-to-test

#1568 test(smoketest): set jmxquarkus HTTP port to not conflict with jfr-datasource
  smoketest.sh
Labels: test, safe-to-test

#1572 test(itest): ensure correct latest built image is tested
  .github/workflows/ci-build-image.yml
  pom.xml
  run.sh
Labels: test, safe-to-test
