Repository cryostatio/cryostat-legacy, pull requests merged in 2023-01, with the labels that each got.

#1319 ci(github): use maven batch mode and force updates
  .github/workflows/ci-jobs.yml
Labels: ci, chore, safe-to-test

#1308 feat(agent): relax JMX connection requirements to support agent connection stubs
  pom.xml
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/net/AgentConnection.java
  src/main/java/io/cryostat/net/AgentConnectionFactory.java
  src/main/java/io/cryostat/net/AgentJFRService.java
  src/main/java/io/cryostat/net/NetworkModule.java
  src/main/java/io/cryostat/net/TargetConnectionManager.java
  src/main/java/io/cryostat/recordings/JvmIdHelper.java
  src/test/java/io/cryostat/net/TargetConnectionManagerTest.java
Labels: feat, safe-to-test, needs-triage

#1290 feat(discovery): enable OpenShift cross-namespace discovery
  README.md
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/OpenShiftPlatformStrategy.java
  src/main/java/io/cryostat/platform/internal/PlatformStrategyModule.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
Labels: feat, needs-documentation, safe-to-test

#1327 fix(discovery): should send notifications on credential store update
  pom.xml
  src/main/java/io/cryostat/discovery/DiscoveryStorage.java
  src/main/java/io/cryostat/platform/ServiceRef.java
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/main/java/io/cryostat/rules/RuleProcessor.java
  src/test/java/io/cryostat/discovery/DiscoveryStorageTest.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
Labels: fix, safe-to-test

#1335 fix(ci): fix github label from being applied on every pull-request target action
  .github/workflows/labeler.yml
Labels: ci, fix, safe-to-test

#1333 feat(uploads): add maxFiles configuration policy to jvmId uploaded recordings
  README.md
  run.sh
  src/main/java/io/cryostat/configuration/Variables.java
  src/main/java/io/cryostat/discovery/AbstractNodeTypeAdapter.java
  src/main/java/io/cryostat/discovery/DiscoveryModule.java
  src/main/java/io/cryostat/net/web/http/api/beta/RecordingsFromIdPostHandler.java
  src/main/java/io/cryostat/recordings/RecordingArchiveHelper.java
  src/main/java/io/cryostat/recordings/RecordingsModule.java
  src/test/java/io/cryostat/net/web/http/api/beta/RecordingsFromIdPostHandlerTest.java
  src/test/java/io/cryostat/recordings/RecordingArchiveHelperTest.java
Labels: feat, safe-to-test

#1338 feat(k8s): publish discovered targets using k8s internal pod URL
  src/main/java/io/cryostat/platform/internal/KubeApiPlatformClient.java
  src/test/java/io/cryostat/platform/internal/KubeApiPlatformClientTest.java
Labels: feat, safe-to-test

#1341 fix(reports): fix "view report" failure timing out on jwt report get handlers
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandler.java
  src/main/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandler.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetFromPathWithJwtHandlerTest.java
  src/test/java/io/cryostat/net/web/http/api/beta/ReportGetWithJwtHandlerTest.java
Labels: fix, safe-to-test

#1345 test(smoketest): update agents config
  smoketest.sh
Labels: test, safe-to-test
